name: _Cleanup

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Execute Atlas Pipeline]
    types:
      - completed

permissions:
  actions: write
  contents: write

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cleanup Branches
        id: cleanup-branches
        env:
          GENERATED_BRANCHES_POOL_SIZE: ${{ vars.GENERATED_BRANCHES_POOL_SIZE }}
          GH_TOKEN: ${{ github.token }}
        run: python scripts/cleanup_generated_branches.py
