name: Execute Atlas Pipeline

on:
  workflow_dispatch:
    inputs:
      PIPELINE_DATA:
        default: ''
        required: true
        type: string
      PIPELINE_VARS:
        default: ''
        required: false
        type: string
      DRY_RUN:
        default: false
        required: false
        type: boolean

permissions:
  contents: write

jobs:
  prepare-dynamic-action:
    runs-on: ubuntu-latest
    env:
      PIPELINE_DATA: ${{ inputs.PIPELINE_DATA }}
      PIPELINE_VARS: ${{ inputs.PIPELINE_VARS }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Generate GENERATED.yml
        run: |
          pip install pyyaml
          python scripts/github_generator.py
          cp generated.yml ./.github/workflows/GENERATED.yml

      - name: Push GENERATED.yml to new branch
        run: |
          git checkout -b sub_flow_${{ github.run_number }}
          git add ./.github/workflows/GENERATED.yml
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit -a -m "Create new workflow"
          git push --set-upstream origin sub_flow_${{ github.run_number }}

      - name: Run GENERATED.yml in that branch (sub_flow_${{ github.run_number }})
        if: ${{ !inputs.DRY_RUN }}
        run: |
          gh workflow run 'GENERATED_WORKFLOW' --ref sub_flow_${{ github.run_number }}
          echo "### Workflow generated and executed:" >> $GITHUB_STEP_SUMMARY
          echo "- Check resulting [GENERATED.yml](${{ github.server_url }}/${{ github.repository }}/blob/sub_flow_${{ github.run_number }}/.github/workflows/GENERATED.yml)" >> $GITHUB_STEP_SUMMARY
          echo "- Check [workflow execution](${{ github.server_url }}/${{ github.repository }}/actions/workflows/GENERATED.yml?query=branch%3Asub_flow_${{ github.run_number }})" >> $GITHUB_STEP_SUMMARY
        env:
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
