# Needs to exist on default branch to be executable on our dynamically created ones (sub-workflows) where we override its contents
name: GENERATED WORKFLOW

on:
  workflow_dispatch:

jobs:
  job:
    name: test
    steps:
      - uses: actions/checkout@v4